body {
	margin: 0 0 2%;
	background-color: gray;
	font-family: sans-serif;
	text-align: justify;
}

h1 {
	margin: 0;
	padding: 10px;
	background-color: black;
	color: white;
	text-align: right;
}

h2 {
	margin-left: 20%;
	margin-right: 20%;
	border-bottom: white 5px solid;
}

p {
	margin-left: 20%;
	margin-right: 20%;
}

.dia2 {
	border-top: black 3px solid;
	margin-top: 2%;
	padding-top: 2%;
	text-align: center;
}

.dia1 {
	padding: 5%;
	background-color: gray;
	color: white;
	font-size: 200%;
	font-weight: bold;
	letter-spacing: 5px;
}

strong {
	font-variant: small-caps;
}

.si {
	border-bottom: red 1px dashed;
	font-family: serif;
	font-size: 150%;
}

.cargo {
	background-color: white;
	color: red;
}

.lugar {
	color: blue;
}